<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <param name="my_arm_description" command="$(find xacro)/xacro --inorder '$(find hebiros_description)/urdf/myArm.xacro'"/>
  <!--<node name="spawn_MyArm" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z 1 -model x_demo" respawn="false" output="screen"/>-->


</launch>